
.icon-user:before { content: '\e800'; } /* '' */
.icon-folder-open:before { content: '\e801'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-address-book:before { content: '\f2b9'; } /* '' */